<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345941150838-spmkanj90hv044mcg9un0vmc5ep3d83o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345941150838-spmkanj90hv044mcg9un0vmc5ep3d83o</string>
	<key>API_KEY</key>
	<string>AIzaSyCGscQHGHdYmwkL0jNaedCH5hbgY-oKLOc</string>
	<key>GCM_SENDER_ID</key>
	<string>345941150838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kormanchen.FitKit</string>
	<key>PROJECT_ID</key>
	<string>fitkit-bfb20</string>
	<key>STORAGE_BUCKET</key>
	<string>fitkit-bfb20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345941150838:ios:fad1bfebc9b59a0a</string>
	<key>DATABASE_URL</key>
	<string>https://fitkit-bfb20.firebaseio.com</string>
</dict>
</plist>